.toggler {
  font-size: 18px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(32, 44, 32) 1px;

}

.toggler.active{
  transition: transform .1s ease;
  transform: rotate(60deg);
}
.accordion_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  border: solid rgb(32, 44, 32) 1px;
  max-width: 600px;
  padding: 12px;
  
}

.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .6s ease-out;
}


.accordion_item.active .accordion_content{
  max-height: 200px;
}