*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    position: relative;
} */

.container{
    position: relative;
}

.modal{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    border: solid 1px #000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 8px rgba(0,0,0,0.1);
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-button{
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px #000;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.over-lay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}   